*{
	margin: 0px;
	padding:0px;
}

body{
	width: 100%;
	height: auto;
	background-image: url(../../images/exchange/bag3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


header{
	width: 100%;
	height: 60px;
	background-color: rgb(22,33,78);
}

header ul{
	margin: 0 5% 0 0;
	list-style: none;
}

header li.navtitle{
	width: 8%;
	height: 60px;
	float: right;
	text-align: center;
	color: white;
	font-size:1.3em;
	font-weight: bold;
	padding:15px 0 0 0;
	position: relative;
}

header li.navtitle:hover{
	background-color: whitesmoke;
	color: #333;
}

header li.navtitle:hover ul.secnav{
	display: block;
}

header ul.secnav{
	width: 100%;
	background-color: rgb(22,33,78);
	position: absolute;
	top:60px;
	left: 0px;
	z-index: 99999999;
	list-style: none;
	padding:0 0 10px 0;
	margin: 0px;
	display: none;
}

header ul.secnav > li{
	width: 100%;
	float: left;
	padding:6px 0 6px 0;
	margin: 0px;
	font-size: 0.9em;
	font-weight: normal;
	color: #ffffff;
}

header ul.secnav > li:hover{
	background-color: whitesmoke;
	color: #333;
}



/* ************container  */

#container{
	background-color: #ffffff;
	min-height: 1000px;
	margin-bottom: 100px;
	margin-top: 10px;
	padding:0 3% 0 3%;
}

#container h3{
	text-align: center;
	color: #333;
}

#container .onedata{
	border-bottom:1px dashed rgb(200,200,200);
	margin:10px 0 10px 0;
	padding:10px 0 10px 0;
}

#container .onedata .peopledata{
	margin-bottom: 10px;
	text-align: right;
}

#container .onedata label{
	font-size: 1.2em;
	float: left;
	padding-right: 5%;
}

#container .onedata p{
	font-size: 1.2em;
}

#container .onedata p.peo{
	width: 100%;
	float: left;
	font-size: 1em;
	font-weight: bold;
	margin:10px 0 10px 2%;
}

#container .onedata input{
	width: 60%;
	float: left;
}

#container  p.pay{
	margin:10px 0 10px 0;
	font-size: 1.1em;
}






