body{
	background-color: rgb(239,239,239);
}

#logo{
	height: 170px;
}

#biglogo{
	width: 350px;
	height: 100px;
	margin-top: 50px;
}

#content{
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	box-shadow: 3px 3px 5px 4px rgba(0,0,0,0.1);
	margin-bottom: 50px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom: 20px;
}

#title{
	border-bottom: 2px dotted rgba(0,0,0,0.3);
	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: rgba(51, 51, 51, 0.93);
	margin-bottom: 20px;
}


#message{
	padding: 0px;
	font-family: 微软雅黑;
	font-size: 1.15em;
	font-weight: bold;
	color: #333;

}

footer{
	background-color: white;
	border-top: 1px solid rgba(0,0,0,0.2);
	font-family: 微软雅黑;
	font-size: 0.9em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

#form-left{
	text-align: right;
	padding-right:20px; 
	padding-top:5px;
	padding-bottom:5px;
}

#form-middle{
	text-align: left;
}

#form-right{
	padding-left: 20px;
	padding-top:5px;
	padding-bottom:5px;
}

a.a1{
	font-size: 0.95em;
	font-weight: normal;
}

p.errors{
	color: red;
	font-size: 0.9em;
}

