<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!-- css links -->
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/css/project.css" rel="stylesheet" type="text/css" media="all">
<!-- /css links -->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="{:U('Home/Index/index','','')}">幻游网主页</a></li>
        <li class="active"><a href="#myPage">项目主页</a></li>
        <li><a href="#about">产品简介</a></li>
        <li><a href="#services">会员增值服务</a></li>
        <li><a href="#portfolio">信任与安全</a></li>
        <li><a href="#contact">相关说明</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!-- /Fixed navbar -->  
<!-- Banner -->
<div class="banner">
    
</div>
<!-- /Banner -->
<!-- About -->
<section class="about-us" id="about" >
  <h3 class="text-center slideanim">产品简介</h3>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                   <img width="100%" src="__PUBLIC__/images/project/1.jpg" class="img-rounded">
            </div>
            <div class="col-lg-6">
                <p>
                    幻游网是一个基于旅游资源交换的社交网络平台，志在为在本地有旅游资源并且有去异地旅游的需求的客户提供便捷、安全、个性化的服务。幻游网目前主要针对推出了交换旅游系列产品，包括交换旅游、体验旅游、公益旅游、成长旅游等四种旅游方式可供选择。幻游网的产品主要是为了帮助大学生更好的认识世界、体验生活、开拓视野。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" style="margin-top:50px;">
                 <p>
                    用户在幻游网实现交换旅游，要经过如下几个步骤：①用户注册；②登陆幻游网站；③发布需求与供应信息；④交换信息检索；⑤提交交换订单；⑥签订交换协议；⑦支付费用；⑧交换进行时；⑨交换结束。
                </p>
            </div>
        </div>
</section>

<!-- /About -->
<!-- /Services -->
<section class="our-services" id="services">
    <h3 class="text-center slideanim">会员与增值服务</h3>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <img width="90%" src="__PUBLIC__/images/project/2.jpg" class="img-circle">
        </div>
        <div class="col-md-4">
            <br/><br/>
            <p>
                会员服务分为：交换旅游、分享旅游动态、旅游保险、价差估值、在线沟通助手、信用评价和用户反馈等；增值服务有旅游新闻资讯和网站动态、当地服务订购、旅游路线订制、当地导游介绍、在线支付、短信查询和手机终端软件等服务。
            </p>
        </div>
        <div class="col-md-3">
            <br/><br/>
            <img width="100%" src="__PUBLIC__/images/project/3.jpg" class="img-rounded">
        </div>
    </div>
</section>
<!-- /Services -->
<!-- Portfolio Grid Section -->
<section id="portfolio">
  <h3 class="text-center slideanim">信任与安全</h3>
  <div class="row">
      <div class="col-md-3 col-md-offset-1">
          <p>
              面对交换旅游中遇到的安全问题，幻游网主要采用身份证认证、明信片地址认证、保证金机制、好友推荐和交换双方评价、社交担保体系等方式来确保交换旅游信息和交易的安全性
          </p>
      </div>
      <div class="col-md-4">
          <img width="100%" src="__PUBLIC__/images/project/4.jpg" class="img-circle">
      </div>
      <div class="col-md-3">
          <p>
              此外还提供多种安个保障服务，如常见问题解释、已知骗局揭示、举报滥用权力等等。
          </p>
      </div>
  </div>
</section>
<!-- /Portfolio Grid Section -->
<!-- Portfolio Modals -->

<!-- Contact-Us -->
<section class="contact-us" id="contact">
  <h3 class="text-center slideanim">相关说明</h2>
  <div class="container">
    <div class="row">
            <div class="col-md-12">
                <p>
                    <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;我们的网站实行实名注册制，会员充值一定的金额即可享受一定的折扣。
                </p>
                <br/><br/>
                <p>
                    <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;对于在本公司办理的会员我们也将分为几种不同的会员：普通会员、黄金会员、钻石会员。
                </p>
                <br/>
                <p style="margin-left:50px;">
                    &nbsp;&nbsp;&nbsp;普通会员：在本网站办理实名认证并且一次性充值1000元的，为普通会员。成为本网站会员后，在其登记的本人生日当天入住享受9折优惠，平时享受9.5折优惠。
                </p>
                <br/>
                <p style="margin-left:50px;">
                    &nbsp;&nbsp;&nbsp;黄金会员：在本网站办理实名认证并且一次性充值3000元的，为黄金会员。成为本网站会员后，在其登记的本人生日当天入住享受8折优惠，平时享受8.5折优惠。
                </p>
                <br/>
                <p style="margin-left:50px;">
                    &nbsp;&nbsp;&nbsp;钻石会员：在本网站办理实名认证并且一次性充值5000元的，为钻石会员。成为本网站会员后，在其登记的本人生日当天入住享受7折优惠，平时享受7.5折优惠。
                </p>
            </div>      
        </div>
    </div>
</section>
<!-- /Contact-Us -->
<!-- Footer -->
<div class="col-md-12" style="background-color:rgb(53,58,34);color:white;text-align:center;padding:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>地址：xx省xx市xx街xx号幻游在线交换旅游网公司&nbsp;&nbsp;联系电话：000-000-000&nbsp;&nbsp;&nbsp;邮箱：xxx@22.com</p>
                    <p>2016-2020</p>
                </div>
            </div>
        </div>
    <!-- <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a> -->
</div>
<!-- js files -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>
<!-- /js files -->


</body>
</html>